<section id="about">
  <div class="bl-box">
    <h2> About Me </h2>
  </div>
  <div class="bl-content">
    <div class="welcome">
      <h2> Hi There! </h2>
      <p> I'm Cody and I'm a software engineer! I graduated from Brown University in 2016 with a B.S. in Computer Science and am currently working at <a href="https://www.twitch.tv/p/about"> Twitch</a>. I've worked in Ruby on Rails to develop administrative tools at Twitch, and am currently on the VOD infrastructure team, working to improve the VOD experience for everyone.
      <p> In the past, I have worked at Brown as a system administrator for the Computer Science department, and at <a href="https://www.appneta.com/">AppNeta</a>as a full stack engineer working with <b> Django </b>. Most of my work has been done in <b>Ruby</b>, <b>Python</b>, and <b>C</b>, and I am currently learning more about <b> Go</b>. In my freetime, I enjoy playing ping pong, tinkering with my dotfiles, and watching the latest Netflix series. </p>
    </div>
  </div>
  <i class="fa fa-minus bl-icon bl-icon-close"></i>
</section>
