<section id="about">
  <div class="bl-box">
    <h2> About Me </h2>
  </div>
  <div class="bl-content">
    <div class="welcome">
      <h2> Hi There! </h2>
      <p> I'm Cody and I am a rising senior at <b> Brown University </b> studying computer science. I've done most of my work in <b> Python, and C </b>, and am currently a systems administrator for the Brown computer science department.
      <p> This summer, I will be interning at <a href="http://www.twitch.tv/p/about"> Twitch.tv</a>, which provides a platform for gamers to broadcast their gameplay to any audience in the world. I will be focusing my work in the backend, primarily doing API development in <b> Rails </b> and <b> Go </b>.
    </div>
  </div>
  <i class="fa fa-minus bl-icon bl-icon-close"></i>
</section>
