<section id="about">
  <div class="bl-box">
    <h2> About Me </h2>
  </div>
  <div class="bl-content">
    <div class="welcome">
      <h2> Hi There! </h2>
      <p> I'm Cody and I'm currently a junior at <b> Brown University </b> studying computer science. I've done most of my work in <b> Python, Javascript, C, and Java </b>, and have also been a TA for the intro sequence, which teaches <b> Scheme, OCaml, Java, and Scala </b>. </p>
      <p> I'm interested in web development and enjoy working in <b> Rails </b>. </p>
      <p> This summer, I will be interning at <a href="http://www.appneta.com"> AppNeta</a>, which provides full-stack monitoring for webapps to find and fix bottlenecks in servers. In the fall, I will be a TA for a class about computer systems that focuses on C with a side of x86 assembly.</p>
    </div>
  </div>
  <i class="fa fa-minus bl-icon bl-icon-close"></i>
</section>
