<section id="contact">
  <div class="bl-box">
    <h2>Contact Me</h2>
  </div>
  <div class="bl-content">
    <h2> Find me on the internet!</h2>
    <div class="contact-info-outer">
      <div class="contact-info-inner">
        <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=cody_ma@brown.edu" target="_blank"><i class="fa fa-5x fa-envelope"></i></a>
        <a href="http://www.github.com/codyma94" target="_blank"><i class="fa fa-5x fa-github"></i></a>
        <a href="https://www.linkedin.com/pub/cody-ma/61/514/703" target="_blank"><i class="fa fa-5x fa-linkedin"></i></a>
      </div>
    </div>
  </div>
  <i class="fa fa-minus bl-icon bl-icon-close"></i>
</section>
