<section id="resume">
  <div class="bl-box">
    <h2> Resume </h2>
  </div>
  <div class="bl-content">
    <h2 class="name"> Cody Ma </h2>
    <h4> San Francisco, California </h4>
    <h4> www.codyma.com </h4>
    <h4> codyma94@gmail.com | github.com/codyma94 </h4>
    <div class="resume-section-container">
      <h2 class="resume-section-header"> Education </h2>
      <div class="resume-section">
        <div class="float-left">
          <b> Brown University</b>, BS in Comp. Sci.
        </div>
        <div class="float-right pull-right">
          Providence, RI | May 2016
        </div>
        <div class="resume-description">
          Relevant Courses - Distributed Systems, Operating Systems, Design and Analysis of Algorithms, Systems Security, Computer Systems in C and x86
        </div>
      </div>
    </div>
    <div class="resume-section-container">
      <h2 class="resume-section-header"> Experience </h2>
      <div class="resume-section">
        <div class="float-left">
          <b> Twitch </b>
        </div>
        <div class="float-right pull-right"> San Francisco, CA | September 2016 - Present </div>
        <div class = "resume-description">
          <div class="float-left">
            <i> Software Engineer </i>
          </div>
          <ul>
            <li> Develop administrative service in Rails for managing all areas of Twitch including users, channels, and VODs </li>
            <li> Move the existing codebase into a more service oriented architecture to decrease load on the main application</li>
          </ul>
        </div>
      </div>
      <div class="resume-section">
        <div class="float-left">
          <b> Twitch </b>
        </div>
        <div class="float-right pull-right"> San Francisco, CA | Summer 2015 </div>
        <div class = "resume-description">
          <div class="float-left">
            <i> Ruby on Rails Developer (Intern) </i>
          </div>
          <ul>
            <li> Refactored user related logic in the main Rails application to remove dependency on ActiveRecord and decrease load across the site </li>
            <li> Created a panel for The International 5 (Dota2 tournament with $16.8M prize pool) to display in-game information pulled from the Valve API </li>
          </ul>
        </div>
      </div>
      <div class="resume-section">
        <div class="float-left">
          <b> AppNeta </b>
        </div>
        <div class="float-right pull-right"> Boston, MA | Summer 2014 </div>
        <div class="resume-description">
          <div class="float-left">
            <i>Python and Javascript Developer (Intern) </i>
          </div>
          <ul>
            <li>Worked on the TraceView web application, which monitors the performance of other web applications </li>
            <li>Update v2.0 of the TraceView REST API and developed v2.1 in Python </li>
            <li>Created graphs in d3.js and tbone.js (a fork of backbone.js) that pulled data across multiple databases for admins to monitor customers' usage of the TraceView application </li>
          </ul>
        </div>
      </div>
      <div class="resume-section">
        <div class="float-left">
          <b> Brown University Computer Science Department </b>
        </div>
        <div class="float-right pull-right"> Providence, RI </div>
        <div class="resume-description">
          <div class="float-left">
            <i> Systems Programmer, Operator, and Consultant (SPOC) </i>
          </div>
          <div class="float-right pull-right"> Spring 2015 - Present </div>
          <ul>
            <li> Managed the department infrastructure during the Technical Staff's off-hours. Included handling service outages (i.e. network, filesystem) as well as any problems that individual students or staff members encountered</li>
            <li> Work on improving the departments infrastructure by writing scripts and modifying kits that the department runs on </li>
          </ul>
        </div>
        <div class="resume-description">
          <div class="float-left">
            <i>Teaching Assistant (CS033)</i>
          </div>
          <div class="float-right pull-right"> Fall 2014 </div>
          <ul>
            <li> Computer Systems in C and x86 Assembly, Class Size: 200 </li>
            <li> Taught students the basics of C programming, including gdb, dynamic memory allocation, read/write locks, and multi-threading </li>
          </ul>
        </div>
        <div class="resume-description">
          <div class="float-left">
            <i>Teaching Assistant (CS018)</i>
          </div>
          <div class="float-right pull-right"> Spring 2013 </div>
          <ul>
            <li> Object Oriented Programming in Java and Scala, Class Size: 130 </li>
            <li> Taught students about object-oriented design and reinforced functional programming skills </li>
          </ul>
        </div>
        <div class="resume-description">
          <div class="float-left">
            <i>Teaching Assistant (CS017)</i>
          </div>
          <div class="float-right pull-right"> Fall 2013 </div>
          <ul>
            <li> Functional Programming in Scheme and ML, Class Size: 160 </li>
            <li> Introduced students to basic programming concepts such as recursion, higher order procedures, and informal analysis </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="resume-section-container">
      <h2 class="resume-section-header"> Projects </h2>
      <div class="resume-section">
        <div class="float-left">
          <b> Raft</b>, coded in Go
        </div>
        <div class="float-right pull-right"> April 2015 </div>
        <div class="resume-description">
          <ul>
            <li> Implemented the <a href='https://raft.github.io/raft.pdf'> Raft consensus algorithm</a>, an algorithm for replicating log files in a distributed system </li>
            <li> Allowed for membership changes in the cluster without the need to take any servers offline </li>
          </ul>
        </div>
      </div>
      <div class="resume-section">
        <div class="float-left">
          <b> System 5 File System (S5FS)</b>, coded in C
        </div>
        <div class="float-right pull-right"> April 2015 </div>
        <div class="resume-description">
          <ul>
            <li> Implemented a file system based on the original file system that was released with System V Unix</li>
            <li> Files and directories were represented as inodes, and reading/writing required maintaining a collection of direct and indirect blocks stored on a (virtual) disc
          </ul>
        </div>
      </div>
    </div>
    <div class="resume-section-container">
      <h2 class="resume-section-header"> Relevant Skills </h2>
      <div class="resume-section">
        <div class="resume-description">
          <ul class="one-liners">
            <li> <b> Most experienced with</b>: Ruby on Rails, Python, C, Javascript, jQuery, Java, Linux</li>
            <li> <b> Knowledgeable about</b>: Go, HTML/CSS, Scala, SQL, Bash</li>
        </div>
      </div>
    </div>
    <%#<div class="resume-section-container" style="text-align: center">%>
      <%#<a href="static_pages/download_resume" class="resume-btn-container">%>
          <%#<button type="button" class="resume-btn"> Download as PDF </button>%>
      <%#</a>%>
    <%#</div>%>
  </div>
  <i class="fa fa-minus bl-icon bl-icon-close"></i>
</section>
