<section id="resume">
  <div class="bl-box">
    <h2> Resume </h2>
  </div>
  <div class="bl-content">
    <h2 class="name"> Cody Ma </h2>
    <h4> 69 Brown Street, Box 7492 | Providence, RI 02912 </h4>
    <h4> 781-799-5119 | cody_ma@brown.edu </h4>
    <h4> github.com/codyma94 | www.codyma.com </h4>
    <div class="resume-section-container">
      <h2 class="resume-section-header"> Education </h2>
      <div class="resume-section">
        <div class="float-left">
          <b> Brown University</b>, BS in Comp. Sci.
        </div>
        <div class="float-right pull-right">
          Providence, RI | May 2016
        </div>
        <div class="resume-description">
          Relevant Courses - Operating Systems, Design/Analysis of Algorithms, Programming Languages, Computer Systems in C and x86, Data Science, Discrete Structures and Probability, Systems Security
        </div>
      </div>
    </div>
    <div class="resume-section-container">
      <h2 class="resume-section-header"> Experience </h2>
      <div class="resume-section">
        <div class="float-left">
          <b> Twitch.tv </b>
        </div>
        <div class="float-right pull-right"> San Francisco, CA | Summer 2015 </div>
        <div class = "resume-description">
          <div class="float-left">
            <i> Rails and Go Developer </i>
          </div>
          <ul>
            <li> API development (More details once I start my internship!)</li>
          </ul>
        </div>
      </div>
      <div class="resume-section">
        <div class="float-left">
          <b> AppNeta </b>
        </div>
        <div class="float-right pull-right"> Boston, MA | Summer 2014 </div>
        <div class="resume-description">
          <div class="float-left">
            <i>Python and Javascript Developer</i>
          </div>
          <ul>
            <li>Worked on the TraceView web application, which monitors the performance of other web applications </li>
            <li>Update v2.0 of the TraceView REST API and developed v2.1 in Python </li>
            <li>Created graphs in d3.js and tbone.js (a fork of backbone.js) that pulled data across multiple databases for admins to monitor customers' usage of the TraceView application </li>
            <li>Responsible for handling miscellaneous Github issues submitted by customers or raised by the support team </li>
          </ul>
        </div>
      </div>
      <div class="resume-section">
        <div class="float-left">
          <b> Brown University Computer Science Department </b>
        </div>
        <div class="float-right pull-right"> Providence, RI </div>
        <div class="resume-description">
          <div class="float-left">
            <i> Systems Programmer, Operator, and Consultant (SPOC) </i>
          </div>
          <div class="float-right pull-right"> Spring 2015 - Present </div>
          <ul>
            <li> Manage the department infrastructure during the Technical Staff's off-hours. This includes handling service outages (i.e. network, filesystem) as well as any problems that individual students or staff members may encounter.</li>
            <li> Work on improving the departments infrastructure by writing scripts or modifying kits that the department runs on whenever necessary </li>
          </ul>
        </div>
        <div class="resume-description">
          <div class="float-left">
            <i>Teaching Assistant (CS033)</i>
          </div>
          <div class="float-right pull-right"> Fall 2014 </div>
          <ul>
            <li> Computer Systems in C and x86 Assembly, Class Size: 200 </li>
            <li> Taught students the basics of C programming, including gdb, dynamic memory allocation, read/write locks, and multi-threading </li>
          </ul>
        </div>
        <div class="resume-description">
          <div class="float-left">
            <i>Teaching Assistant (CS018)</i>
          </div>
          <div class="float-right pull-right"> Spring 2013 </div>
          <ul>
            <li> Object Oriented Programming in Java and Scala, Class Size: 130 </li>
            <li> Taught students about object-oriented design and reinforced functional programming skills </li>
          </ul>
        </div>
        <div class="resume-description">
          <div class="float-left">
            <i>Teaching Assistant (CS017)</i>
          </div>
          <div class="float-right pull-right"> Fall 2013 </div>
          <ul>
            <li> Functional Programming in Scheme and ML, Class Size: 160 </li>
            <li> Introduced students to basic programming concepts such as recursion, higher order procedures, and informal analysis </li>
          </ul>
        </div>
      </div>
      <div class="resume-section">
        <div class="float-left">
          <b> TopMind </b>
        </div>
        <div class="float-right pull-right"> Shanghai, China | Summer 2013 </div>
        <div class="resume-description">
          <div class="float-left">
            <i> Ruby on Rails Developer</i>
          </div>
          <ul>
            <li> Responsible for developing the front and backend of a website that allows users to signup and register for courses </li>
            <li> Developed in Rails, and worked extensively with Javascript, jQuery, Backbone,js, and MySQL </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="resume-section-container">
      <h2 class="resume-section-header"> Projects </h2>
      <div class="resume-section">
        <div class="float-left">
          <b> System 5 File System (S5FS) </b>, coded in C
        </div>
        <div class="float-right pull-right"> April 2015 </div>
        <div class="resume-description">
          <ul>
            <li> Implemented a file system based on the original file system that was released with System V Unix.</li>
            <li> Files and directories were represented as inodes, and reading/writing to them required maintaining a collection of direct and indirect blocks stored on a (virtual) disc.
          </ul>
        </div>
      </div>
      <div class="resume-section">
        <div class="float-left">
          <b> Uthreads </b>, coded in C
        </div>
        <div class="float-right pull-right"> February 2015 </div>
        <div class="resume-description">
          <ul>
            <li> Created a library to manage user-level threads in a Unix-like operating system with a preemtible kernel. </li>
            <li> Designed mutexes, condition variables, and a scheduler for the running threads. </li>
          </ul>
        </div>
      </div>
      <div class="resume-section">
        <div class="float-left">
          <b> Command Line Twitter </b>, coded in Python
        </div>
        <div class="float-right pull-right">
          August 2014
        </div>
        <div class="resume-description">
          <ul>
            <li> Script that allows a user to read Tweets from any account from the command line, or post Tweets to their own account. </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="resume-section-container">
      <h2 class="resume-section-header"> Relevant Skills </h2>
      <div class="resume-section">
        <div class="resume-description">
          <ul class="one-liners">
            <li> <b> Most experienced with</b>: Python, C, Javascript, jQuery, Java, Linux</li>
            <li> <b> Knowledgeable about</b>: Ruby on Rails, HTML/CSS, Scala, MySQL, PostGres, OCaml, Scheme, Bash</li>
            <li> <b> Learning</b>: Go</li>
        </div>
      </div>
    </div>
    <div class="resume-section-container">
      <h2 class="resume-section-header"> Other Interests </h2>
      <div class="resume-section">
        <div class="resume-description">
          <table class="full-table">
            <tr>
              <td> Vim </td>
              <td> Philosophy </td>
              <td> Frisbee</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="resume-section-container" style="text-align: center">
      <a href="static_pages/download_resume" class="resume-btn-container">
          <button type="button" class="resume-btn"> Download as PDF </button>
      </a>
    </div>
  </div>
  <i class="fa fa-minus bl-icon bl-icon-close"></i>
</section>
