<div class="container">
  <div id="bl-main" class="bl-main">
    <section>
      <div class="bl-box">
        <h2> About Me </h2>
      </div>
      <div class="bl-content">
        <div class="welcome">
          <h2> Hi There! </h2>
          <p> Welcome to my website! I'm Cody and I'm currently a sophomore at <b> Brown University </b> studying computer science. I've taken courses in <b> C, Java, Python, and Scala </b>, and have also been a TA for the intro sequence. </p>
          <p> I'm interested in web development and especially enjoy working in <b> Rails </b>. </p>
          <p> This summer, I will be interning at <a href="http://www.appneta.com"> AppNeta</a>, which provides full-stack monitoring for webapps to find and fix bottlenecks in servers. In the fall, I will be a TA for a class about computer systems.</p>
        </div>
        <div class="contact">
          <h2> Contact Me </h2>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-3x fa-envelope"></i> cody_ma (at) brown.edu</li>
            <li><a href="http://www.github.com/codyma94"><i class="fa-li fa fa-3x fa-github-alt"></i> Github</a></li>
            <li><a href="https://www.linkedin.com/profile/view?id=219249651"><i class="fa-li fa fa-3x fa-linkedin-square"></i> Linkedin</a></li>
          </ul>
        </div>
      </div>
      <i class="fa fa-minus bl-icon bl-icon-close"></i>
    </section>
    <section>
      <div class="bl-box">
        <h2> Projects </h2>
      </div>
      <div class="bl-content">
        <h2> My Projects </h2>
        <ul>
          <li> Project 1 </li>
          <li> Project 2 </li>
        </ul>
      </div>
      <i class="fa fa-minus bl-icon bl-icon-close"></i>
    </section>
    <section>
      <div class="bl-box">
        <h2> Blog </h2>
      </div>
      <div class="bl-content">
        <h2> My Ponderings </h2>
      </div>
      <i class="fa fa-minus bl-icon bl-icon-close"></i>
    </section>
    <section>
      <div class="bl-box">
        <h2> Contact Me </h2>
      </div>
      <div class="bl-content">
        <h2> Contact Information </h2>
      </div>
      <i class="fa fa-minus bl-icon bl-icon-close"></i>
    </section>
  </div>
</div>

<script type="text/javascript">
  Boxlayout.init();
</script>
