<div class="container">
  <div id="bl-main" class="bl-main">
    <section>
      <div class="bl-box">
        <h2> About Me </h2>
      </div>
      <div class="bl-content">
        <h2> Lorem Ipsum </h2>
        <p> Etc. Etc. </p>
      </div>
      <span class="bl-icon bl-icon-close"></span>
    </section>
    <section>
      <div class="bl-box">
        <h2> Projects </h2>
      </div>
      <div class="bl-content">
        <h2> My Projects </h2>
        <ul>
          <li> Project 1 </li>
          <li> Project 2 </li>
        </ul>
      </div>
      <span class="bl-icon bl-icon-close"></span>
    </section>
    <section>
      <div class="bl-box">
        <h2> Blog </h2>
      </div>
      <div class="bl-content">
        <h2> My Thoughts </h2>
      </div>
      <span class="bl-icon bl-icon-close"></span>
    </section>
    <section>
      <div class="bl-box">
        <h2> Contact Me </h2>
      </div>
      <div class="bl-content">
        <h2> Contact Information </h2>
      </div>
      <span class="bl-icon bl-icon-close"></span>
    </section>
  </div>
</div>

<script type="text/javascript">
  Boxlayout.init();
</script>
