<div class="container">
  <div id="bl-main" class="bl-main">
    <%= render "about" %>
    <%= render "resume" %>
    <%= render "blog" %>
    <%= render "contact" %>
  </div>
</div>

<script type="text/javascript">
  Boxlayout.init();
</script>
