<div class="blogpost" id="<%= blogpost.id %>">
  <h2 class="blogpost-title">
    <%= blogpost.title %>
  </h2>
  <div class="blogpost-content">
    <%= blogpost.content %>
  </div>

  <%= link_to "Delete", admin_blogpost_path(blogpost), method: "delete", data: { confirm: "You sure?" }%>
</div>
