/*@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);*/

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #fff;
  background: #2091b2;//F8F8FF;
  font-weight: 300;
}
h2 {
  font-size: 4em;
  font-weight: 700;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}
.input-field {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  margin: 10px auto;
  padding: 0 10px;
  text-align: left;
  width: 370px;
}
.signin-container {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
}
.signin-form {
  width: 100%;
}
.signin-form input {
  border-radius: 5px;
  display: block;
  font-family: inherit;
  font-size: 30px;
  line-height: 40px;
}
.submit-button {
  background: rgb(254,231,154);
  background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
  background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
  background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
  color: #85592e;
  cursor: pointer;
  text-align: center;
}
.submit-button:hover {
  background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
  background: linear-gradient(top,  rgbagba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
}

.signin-submit {
  border: 1px solid #D69E31;
  margin: 35px auto;
  padding: 5px 10px;
  width: 160px;
}
//blogpost stuff

.blogposts-container {
  width: 100%;
}

.blogpost {
  margin: 50px auto;
  width: 75%;
}

.blogpost h2.blogpost-title {
  font-size: 3em;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  width: 100%;
}

.blogpost-new input {
  line-height: 24px;
  width: 100%;
}

.blogpost-content {
  font-size: 1.1em;
}

.signin-error {
  background-color: #FF6161;
  color: #fff;
  font-size: 1.5em;
  height: 2em;
  left: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 999;
}

.blogpost-new-title {
  float: left;
  font-family: inherit;
  font-size: 1.8em;
  line-height: 1.8em;
  margin-bottom: 10px;
  padding: 0px 5px;
  width: 75%;
}

.blogpost-new-content {
  font-family: inherit;
  font-size: 16px;
  height: 15em;
  padding: 5px 5px;
  resize: none;
  width: 100%;
}

.blogpost-public-checkbox {
  display: inline-block;
  float: right;
  margin-top: 20px;
  overflow: hidden;
}

.blogpost-submit {
  border-radius: 10px;
  border: 0px;
  font-size: 18px;
  float: right;
  height: 40px;
  width: 100px;
}

code {
  background-color: #f9f2f4;
  border-radius: 4px;
  color: #c7254e;
  display: inline-block;
  font-size: 90%;
  padding: 2px 4px;
  white-space: nowrap;
}
